abstract_singleton==1.0.1
aiofiles==24.1.0
aiohttp==3.8.4
aiosignal==1.3.1
annotated-types==0.7.0
anyio==3.7.0
async-generator==1.10
async-timeout==4.0.2
asynctest==0.13.0
attrs==23.1.0
auto_gpt_plugin_template @ git+https://github.com/Significant-Gravitas/Auto-GPT-Plugin-Template@7612a14c629dc64ad870eee4d05850d60e1dd9ce
autoflake==2.2.0
beautifulsoup4==4.12.2
black==23.3.0
blis==0.7.9
Brotli==1.0.9
cachetools==5.3.1
catalogue==2.0.8
certifi==2023.5.7
cffi==1.15.1
cfgv==3.3.1
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
confection==0.0.4
coverage==7.2.7
cryptography==41.0.1
cssselect==1.2.0
cymem==2.0.7
dataclasses-json==0.6.7
distlib==0.3.6
distro==1.8.0
dnspython==2.3.0
docker==6.1.3
duckduckgo-search==3.0.2
email_validator==2.2.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl#sha256=0964370218b7e1672a30ac50d72cdc6b16f7c867496f1d60925691188f4d2510
exceptiongroup==1.1.1
execnet==1.9.0
faiss-cpu==1.9.0
fastapi==0.115.4
fastapi-cli==0.0.5
ffmpeg==1.4
ffmpy==0.3.1
filelock==3.12.2
flake8==6.0.0
flaky==3.7.0
frozenlist==1.3.3
-e git+https://github.com/simon-builder/fcc-langchain-interview.git@6293021b12ef7cfc66381ecaecdc210546b27e66#egg=Generative_AI_Project
ghp-import==2.1.0
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.11.1
google-api-python-client==2.90.0
google-auth==2.21.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.59.1
gTTS==2.3.1
h11==0.14.0
httpcore==0.17.2
httplib2==0.22.0
httptools==0.6.4
httpx==0.24.1
httpx-sse==0.4.0
identify==2.5.24
idna==3.4
iniconfig==2.0.0
isort==5.12.0
Jinja2==3.1.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.17.3
langchain==0.3.7
langchain-community==0.3.5
langchain-core==0.3.15
langchain-text-splitters==0.3.2
langcodes==3.3.0
langsmith==0.1.140
loguru==0.7.0
lxml==4.9.2
Markdown==3.3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.23.1
mashumaro==3.9
mccabe==0.7.0
mdurl==0.1.2
mergedeep==1.3.4
mkdocs==1.4.3
multidict==6.0.4
murmurhash==1.0.9
mutagen==1.46.0
mypy==1.4.1
mypy-extensions==1.0.0
nodeenv==1.8.0
numpy==1.25.0
openai==0.28.0
openapi-python-client==0.13.4
orjson==3.10.11
outcome==1.2.0
packaging==24.1
pandas==2.2.3
pathspec==0.11.1
pathy==0.10.2
Pillow==9.5.0
pinecone-client==2.2.1
platformdirs==3.8.0
playsound==1.2.2
pluggy==1.2.0
pre-commit==3.3.3
preshed==3.0.8
prompt-toolkit==3.0.38
protobuf==4.23.3
protobuf3-to-dict==0.1.5
py-cpuinfo==9.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.10.0
pycparser==2.21
pycryptodomex==3.18.0
pydantic==2.9.2
pydantic-settings==2.6.1
pydantic_core==2.23.4
pyee==11.0.0
pyflakes==3.0.1
Pygments==2.18.0
pylatexenc==2.10
pymdown-extensions==10.0.1
pyOpenSSL==23.2.0
pyparsing==3.1.0
pypdf==5.1.0
PyPDF2==3.0.1
pyrsistent==0.19.3
PySocks==1.7.1
pytest==7.4.0
pytest-asyncio==0.21.0
pytest-benchmark==4.0.0
pytest-cov==4.1.0
pytest-integration==0.2.3
pytest-mock==3.11.1
pytest-recording==0.12.2
pytest-xdist==3.3.1
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-ffmpeg==2.0.10
python-multipart==0.0.17
pytz==2024.2
PyYAML==6.0
pyyaml_env_tag==0.1
readability-lxml==0.8.1
redis==4.6.0
regex==2023.6.3
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.9.4
rsa==4.9
selenium==4.1.4
shellingham==1.5.0.post1
six==1.16.0
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
spacy==3.5.3
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SQLAlchemy==2.0.35
srsly==2.4.6
starlette==0.41.2
stripe==11.3.0
tenacity==9.0.0
thinc==8.1.10
tiktoken==0.3.3
TikTokLive==5.0.8
tqdm==4.65.0
trio==0.22.0
trio-websocket==0.10.3
typer==0.12.5
types-beautifulsoup4==4.12.0.5
types-colorama==0.4.15.11
types-html5lib==1.1.11.14
types-Markdown==3.4.2.9
types-Pillow==9.5.0.4
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
uritemplate==4.1.1
urllib3==2.2.1
urllib3-secure-extra==0.1.0
uvicorn==0.32.0
uvloop==0.21.0
vcrpy @ git+https://github.com/Significant-Gravitas/vcrpy.git@2f6fa05ae3518b1c0e92e63c3d12ecf5cf82cd48
virtualenv==20.23.1
wasabi==1.1.2
watchdog==3.0.0
watchfiles==0.24.0
wcwidth==0.2.6
webdriver-manager==3.8.6
websocket-client==1.6.1
websockets==13.1
wrapt==1.15.0
wsproto==1.2.0
yarl==1.9.2
yt-dlp==2024.10.7
